body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 40px;
background:#020617;
position:sticky;
top:0;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero span{
color:#38bdf8;
}

.btn{
padding:12px 25px;
background:#38bdf8;
color:black;
text-decoration:none;
border-radius:6px;
margin-top:20px;
}

section{
padding:60px 100px;
}

h2{
color:#38bdf8;
}

.skill-box{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.skill-box p{
background:#1e293b;
padding:10px 20px;
border-radius:8px;
}

.project-card{
background:#1e293b;
padding:20px;
margin-top:20px;
border-radius:10px;
transition:0.3s;
}

.project-card:hover{
transform:translateY(-5px);
}

footer{
text-align:center;
padding:20px;
background:#020617;
}